html {overflow-y: scroll;}

body {
    font-family: sans-serif;
}

div#page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

div#title {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #7bbc80;
    color: #ffffff;
    font-size: 42px;
    padding: 10px;
    text-align: center;
}

div#menu_bar {
    height: 45px;
    background-color: #e7e7e7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

div#menu_bar_right {
    float: right;
    padding: 0px 10px 0px 10px;
}


#menu ul {
    margin:0;
    padding: 10px 10px 0 0px;
    list-style:none;
}

#menu li {
    display:inline;
    margin:0;
    padding:0;
}

#menu a {
    float: left;
    color: black;
    background-color: #e7e7e7;
    margin: 0;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

#menu a:hover, #menu li .current {
    background-color: #f1fff1;
}

a {
    text-decoration: none;
}

a.atom_icon {
    padding: 0px 0px 0px 16px;
    width: 32px;
    height: 32px;
    text-decoration: none;
    background: url("/res/atom16.png") no-repeat 0 50%;
}

div#page_body {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    font-size: 14px;
}

.body a:link  {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:active {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:visited {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:hover {
    color: #5f8f5f;
}

div#footer {
    padding: 10px 20px 24px 20px;
    font-size: 12px;
    font-style: italic;
    background-color: #f2f2f2;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#footer_left {
    float: left;
}

div#footer_right {
    float: right;
}


div#footer_right_container {
    position: relative;
    padding: 0px 20px 0px 0px;
}

div.dialog {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow: 3px 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px 3px #666;
    box-shadow: 0px 0px 3px 0px #666;

    /*-moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;*/

    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    
    /*display: none;*/
}

div.dialog_content {
    /*display: inline;*/
}

.dialog_trigger {
    -moz-box-shadow: 3px 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px 3px #666;
    box-shadow: 0px 0px 3px 0px #666;

    background-color: #000;
    color: #fff;
    opacity: 0.9;
}

.warning_title {
    color: #f35555;
}

div#page__login_dialog {
    position: absolute;
    height: 200px;
    width: 200px;
    top: -250px;
    right: 20px;
    padding: 20px;
}



div.panel {
}

p.blog_body {
    font-size: 14px;
}

label.blog_title {
    font-size: 17px;
}

span.blog_by {
    font-size: 11px;
    color: #a0a0a0;
}

span.contact {
    font-weight: bold;
}

ul.contact {
    list-style-type: none;
    padding-left: 10px;
}

