
/*
 * Base styles
 */

html {
    overflow-y:
    scroll;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #5f5f5f;
}

a:hover {
    color: #5f8f5f;
}

img {
    border: none;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

input.textbox {
    border: 1px solid white;
}

input.password {
    border: 1px solid white;
}

textarea {
    border: 2px solid #ffffff;
}

label.small {
    font-size: 10px;
}

span.contact {
    font-weight: bold;
}

ul.contact {
    list-style-type: none;
    padding-left: 10px;
}

.body a:link  {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:active {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:visited {
    color: #5f5f5f;
    text-decoration: none;
}

.body a:hover {
    color: #5f8f5f;
}

.center {
    text-align: center;
}

.warning {
    color: #eb1b1b;
}

img.wfid_menu_spinner {
    position: absolute;
    margin-left: 6px;
    bottom: 6px;
    right: -16px;
}

div.inline_spinner_container {
    position: absolute;
    display: inline;
}

span.code {
    font-family: courier, monospace;
}

/*
 * Basic elements
 */

div.dyn_dialog_title div.wfid_corner {
    top: 25px;
    right: 20px;
    position: absolute;
    font-size: 28px;
}

.top_dialog a {
    color: #f0f0f0;
}


div#page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

div#title {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #7bbc80;
    color: #ffffff;
    font-size: 42px;
    padding: 10px;
    text-align: center;
}

div#menu_bar {
    position: relative;
    height: 40px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    background-color: #e7e7e7;
}

div#menu {
    position: absolute;
    bottom: 0px;
}

div#menu_bar_admin {
    position: absolute;
    right: 0px;
}

div#menu_bar_center {
    position: absolute;
    right: 0px;
    padding: 5px 10px 5px 10px;
}

div#menu_bar_right {
    position: absolute;
    bottom: 0px;
    right: 10px;
    padding: 10px 10px 5px 10px;
}

div#page_body {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    font-size: 14px;
}

div#footer {
    height: 14px;
    padding: 10px 20px 24px 20px;
    font-size: 12px;
    font-style: italic;
    background-color: #f2f2f2;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#footer_left {
    float: left;
}

div#footer_right {
    float: right;
}

div#footer_right_container {
    position: relative;
    padding: 0px 20px 0px 0px;
}

/*
 * Menu related
 */

#menu ul {
    margin:0;
    padding: 10px 10px 0 0px;
    list-style:none;
}

#menu li {
    display:inline;
    margin:0;
    padding:0;
}

#menu a {
    float: left;
    color: black;
    background-color: #e7e7e7;
    margin: 0;
    padding: 5px 10px 6px 10px;
    text-decoration: none;
}

#menu a.current {
    background-color: #f1fff1;
}


#menu a:hover {
    background-color: #fbfffb;
}

/*
 * Language bar
 */

div#title_container {
    display: block;
}

div#language_bar {
    position: relative;
    bottom: 10px;
    right: 12px;

    display: inline;
    float: right;
    font-size: 14px;
}

a.language_link:link {
    color: #f9f9f9;
}

a.language_link:visited {
    color: #5f5f5f;
    text-decoration: none;
}

a.language_link:hover {
    color: #ffffff;
}

a.language_link:active {
    color: #efefef;
    text-decoration: none;
}

/*
 * Feed atom
 */

a.atom_icon {
    padding: 0px 0px 0px 16px;
    width: 32px;
    height: 32px;
    text-decoration: none;
    background: url("/res/atom16.png") no-repeat 0 50%;
}

/****
 * Elements
 ****/

/*
 * State panel
 */

div.state_panel_inline {
    display: inline;
}

div.state_panel_block {
    display: block;
}

/*
 * Login link
 */

a.login_panel_button {
    color: white;
}

div.login_link_panel {
    padding: 5px;
}

a.login_link {
    color: black;
    font-size: 9px;
}

/*
 * Login state panel
 */

.login_input {
    display: block;
    width: 90%;
}

div.wfid_login_dialog {
    position: relative;
    z-index: 10;
}

div.wfid_login_dialog {
    /* position */
    position: absolute;
    width: 220px;
    right: 20px;
    top: 40px;

    /* style */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;

    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

    padding: 10px 20px 20px 20px;
}


img.wfid_login_spinner {
    padding-top: 40px;
}

/*
 * Login panel
 */

div.wfid_admin_panel {
    z-index: 10;

    text-align: center;

    height: 18px;

    padding: 5px 15px 5px 15px;

    /* style */
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    -moz-box-shadow: 3px 0px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
}

.wfid_admin_panel a {
    color: white;
}

/*
 * Admin dialog
 */

.wfid_admin_dialog div.dyn_dialog_title {
    text-align: center;
}

div.wfid_admin_dialog div.wfid_corner a {
    color: rgba(128, 128, 128, 0.7);
}

div.wfid_admin_dialog div.wfid_corner a:hover {
    color: rgba(255, 255, 255, 0.7);
}

ul.admin_modules {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.admin_modules li {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: block;
    padding: 10px;
}

.admin_modules li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.wfid_admin_dialog table.posts_table td {
    overflow: hidden;
}

.wfid_admin_dialog table.posts_table th {
    padding-left: 5px;
    padding-right: 14px;
}

.wfid_admin_dialog table.posts_table .title {
    width: 100%;
}

.wfid_admin_dialog table.posts_table .remove a {
    color: gray;
}

.wfid_admin_dialog table.posts_table .remove a:hover {
    color: rgb(250, 125, 125);
}

.wfid_admin_dialog table.posts_table tr:nth-child(2n) {
    background-color: rgba(20, 20, 20, 0.5);
}

.wfid_admin_dialog table.posts_table tr:nth-child(2n+3) {
    background-color: rgba(40, 40, 40, 0.5);
}

.wfid_admin_dialog table.posts_table tr:nth-child(n+2):hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.wfid_admin_dialog div.pager_container {
    margin-top: 10px;
    text-align: center;
}

.wfid_admin_dialog .pager_num {
    padding: 10px;
}

.wfid_admin_dialog span.pager_num {
    color: gray;
}

.wfid_admin_dialog .pager_num_current {
    background-color: rgba(0, 0, 0, 0.2);
}

.wfid_admin_dialog a.pager_num:hover {
    background-color: rgba(0, 0, 0, 0.5);
}



/*
 * Blog content
 */

.blog_body {
    font-size: 14px;
}

label.blog_title {
    font-size: 17px;
}

span.cms_post_date {
    font-size: 11px;
    color: #a0a0a0;
    font-style: italic;
}

span.cms_post_by {
    font-size: 9px;
    color: #a0a0a0;
}

/*
 * Top dialog (in front of page)
 */

div#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
}

div.wfid_dialogs {
    width: 100%;
}

div.top_dialog {
    position: absolute;

    z-index: 40;
    top: 50px;
    left: 18.5%;
    width: 60%;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /* style */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;

    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

    padding: 10px 20px 20px 20px;
}

img.close_button {
    position: relative;
    float: left;
    display: inline;
    top: -14px;
    left: -24px;
}


/*
 * Post dialog
 */

.wfid_post_dialog label {
    font-size: 12px;
    margin-top: 4px;
}

.wfid_edit_post_body .wfid_post_dialog_subject_input {
    width: 100%;
}

.wfid_post_dialog .wfid_post_dialog_tag_input, .wfid_post_dialog .wfid_post_dialog_tag_add_button {
    width: 70px;
}

.wfid_post_dialog .ui-menu {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    /*background-color: rgba(140, 140, 140, 0.9);*/
    background-color: rgba(40, 40, 40, 0.95);
    color: white;
}

.wfid_post_dialog .ui-menu-item a.ui-state-hover,
.wfid_post_dialog .ui-menu-item a.ui-state-active {
    background-color: rgb(30, 30, 30);
}

textarea.wfid_post_dialog_text_area {
    width: 100%;
    height: 170px;
    max-height: 260px;
}

a.post_dialog_tag {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    padding: 4px;
    margin: 4px;

    font-size: 10px;
    background: rgba(200, 200, 200, 0.8);
    color: black;
}

a:hover.post_dialog_tag {
    background: rgba(250, 150, 150, 0.8);
}

.wfid_edit_post_body label {
    font-size: 12px;
}

.wfid_edit_post_body .wfid_exp_header {
    padding: 4px 0px 4px 0px;
    margin: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}

.wfid_edit_post_body .expandable_link {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    background-color: rgba(50, 50, 50, 0.4);
    padding: 4px;
    margin-right: 2px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: #969696;
}

.wfid_edit_post_body .expandable_active {
    background-color: rgba(90, 90, 90, 0.4);
}

.wfid_edit_post_body .wfid_exp_body .state_panel_alt {
    background-color: rgba(50, 50, 50, 0.4);
    padding: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border: solid 1px #969696;
}

/*
 * Register
 */

.body input.textbox {
    width: 200px;
    border: 1px solid #b4b4b4;
    margin-right: 6px;
}

.body input.password {
    width: 200px;
    border: 1px solid #b4b4b4;
    margin-right: 6px;
}

.body span.LV_invalid {
    color: #ef2323;
}

/*
 * Account
 */

ul.account_menu {
    margin-left: 0px;
    padding-left: 0px;
    width: 250px;
    list-style: none;
    font-size: 16px;
}

.account_menu a {
    display: block;
    padding: 10px 10px 10px 0px;
}

.account_menu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
